{% extends 'base.html.twig' %}

{% block title %}WebMyIdea
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row">
			<div class="col">
				<div class="text-center mb-5">
					<h2 class="display-5">
						<span class="text-gradient d-inline">WebMyIdea</span>
					</h2>
				</div>
				<div class="text-center text-center justify-content-center">
					<div class="fs-4 fw-light my-5">Notre objectif est d'accompagner chacun dans la réalisation de son propre
						<strong>site web</strong>. Que vous souhaitiez créer votre plateforme personnelle ou professionnelle, notre équipe est là pour vous guider à chaque étape du
						<strong>développement</strong>.</div>
				</div>
			</div>
		</div>


		<div id="carouselExampleControls" class="carousel my-4">
			<div class="text-center mb-3">
				<h3>Nos réalisations</h2>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="card">
						<div class="img-wrapper"><img src="https://mobirise.com/assets52/images/poster.png" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://blog-cdn.quarkly.io/2023/02/14-best-website-builder-for-small-business.png" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://www.tooltester.com/wp-content/uploads/2020/10/godaddy-website-builder-new.png" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://lh3.googleusercontent.com/7YDh3ylEBXWFZTtxGM4dFSCac0ID1eTb32ACs8JaOL1jGYoRx5aV76kbrpMC1VqHhUzIc2nsKZ4xPwCxOgqDWi4E0jkM8uJR7WzVdd710eJuE2wJZgkcJ42TPeRNUTwUlDzs5UgcD7WtlVCPfbo57bdy_FqAnWT0q5iiEzNZb0yvE9J5fhHmvioeIqVZMw" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/format-best-website-builder-for-photographers.jpg" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_800,h_447/https://www.thimble.com/wp-content/uploads/2021/10/500px_photo-sharing-site-800x447.jpg" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="https://c8.alamy.com/comp/2R3Y1JP/happy-travel-photographer-taking-picture-of-nature-2R3Y1JP.jpg" class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="..." class="d-block w-100" alt="...">
						</div>

					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="img-wrapper"><img src="..." class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<h4 class="mb-4 text-center my-5">Pourquoi choisir notre expertise en création de site internet ?</h4>
		<div class="row my-5">
			<div class="col">
				<div data-aos="fade-up">
					<h5 class="mb-4">Notre vision de la création de site</h5>
					<p>Notre approche pour créer des sites web est un mélange harmonieux entre créativité et expertise technique. Chez WebMyIdea, chaque projet est une opportunité d'innover et de raconter une histoire unique à travers un design captivant et une expérience utilisateur exceptionnelle.</p>
					<p>Nous croyons en une collaboration étroite avec nos clients, en les impliquant à chaque étape pour concrétiser leurs idées. De plus, notre engagement ne se limite pas à créer des sites web remarquables ; nous offrons également des cours personnalisés pour permettre à nos clients de mieux comprendre et de gérer leurs propres solutions web.</p>
				</p>
				<p>Ensemble, créons des sites web qui inspirent et dépassent les attentes. Chez WebMyIdea, nous sommes déterminés à façonner l'avenir du web avec passion et expertise.</p>
			</div>
		</div>
		<div class="col">
			<div class="mb-5" data-aos="fade-up">
				<img src="https://www.webtoo.fr/wp-content/uploads/2021/01/Agence_web_offshore-min.png" width="550" height="550" class="img-fluid"/></div>
		</div>
	</div>
</div>{% endblock %}
