<footer
	class="bg-body-tertiary text-center mt-auto">
	<!-- Grid container -->
	<div
		class="container p-4 pb-0">
		<!-- Section: Social media -->
		<section
			class="mb-4">
			<!-- Facebook -->
			<a title="Twitter" class="btn primary-background-color button-social-media text-white rounded-pill mt-3 btn-floating" role="button">
				<i class="bi bi-twitter-x"></i>
			</a>
		</section>
		<!-- Section: Social media -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2020 Copyright:
		<a class="text-body" href="https://mdbootstrap.com/">Dev company</a>
	</div>
	<!-- Copyright -->
</footer>
